<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "Untitled-1.png" %>
  </div>
  <div id="content">
  <h2>Whats good, I'm Lamar Smith</h2>
    <p>Welcome to my personal blog I built in Rails 4</p>
    <p>I am currently working on a React on Rails app for my final project</p>
  <p>I will be going on my 9th of 12 weeks at General Assembly in San Francisco, CA.</p>
  <p>
  "Feel free to drop a comment until we get the like feature working"</p>

  </div>
</div>
